
img {
    max-height: 200px;
    margin-right: 50px;
}

main {
    margin: 20px;
}

header {
    background-color: #F26800;
    /* padding: 16px; */
    /* margin: 20px; */
    /* color: white; */
}

#four {
    font-size: 20px;
}

/* #five {
    font-size: 16px;
    font-style: normal;
} */

#six {
    font-size: 16px;

}

nav {
    color: white;
    border-bottom: 1px solid black;
    padding: 16px;

}

nav a {
    color: white;

}

footer {
    background-color: #9FC131;
    padding: 16px;
    font-size: small;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.recipelink {
    color: rgba(8, 118, 8, 0.669);
}

h1 {
    color:rgba(3, 108, 17, 0.742)
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

tbody {
    font-size: 16px;
    font-style: normal;
}

.gray tr:nth-child(even){
    background-color: rgb(199, 192, 192);
}
